body{
  background-image: url("./src/back 2.png");
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.918); 
  background-repeat: no-repeat; 
  background-size: cover; 

}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.App > h1 {
  font-family: 'Montserrat', sans-serif;
  color: #2791C2;
  margin-top: 72px;
  margin-bottom: 56px;

  font-family: Montserrat;
  font-size: 36px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;


}
.App > h1 > span{
  font-family: Montserrat;
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.one {
  border: solid 1px;
  width: min-content;
}

.login {
  width: 445px;
  height: 570px;
  background: rgba(49, 49, 49, 0.95);
  box-shadow: 0px 6px 6px rgba(11, 11, 11, 0.8);
  border-radius: 10px;
  padding: 32px 45px 42px 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}


.welcome-msg1{
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.welcome-msg2{
  margin: 0;
  font-size: 10px;
  font-weight: 400;
}

.inputbox{
  width: 356px;
  height: 38px;
  padding: 10px;
  margin: 10px 0px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0;
  padding: 5px;
  border-radius: 5px;
}

.inputbox > input{
  width: 310px;
  border: 0;
}

.imgcont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 38px;
}

.imgcont > img{
  width: 18px;
}

.underlogin{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 356px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 32px;
}

.login-button{
  background: #2791C2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 4px;
  border-radius: 31px;
  width: 354px;
  height: 35px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.remember{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;

}

.register-link{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 32px;
}

h2 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #ffff; 
  line-height: 0.1em;
  margin: 10px 0px 20px; 
  
  
} 

h2 span { 
  background:rgba(49, 49, 49, 0.95);
  padding:0 30px;
  font-weight: 400;
  font-size: 13px;

}

.social-login{
  display: flex;
  align-items: center;
  padding-left: 70px ;
  border: 1px solid;
  border-radius: 35px;
  margin: 10px 0px;
  width: 354px;
  height: 47px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.social-login > img{
  width: 28px;
  height: 29px;

}
.social-login > p{
  padding-left: 17px;

}