body{
    margin: 0;
    background: #1E1E1E;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #2791C2;
    align-items: center;
    color: white;
}

nav > input{
    height: fit-content;
    border-radius: 5px;
}

.movfin{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

}

.movfin > span{
    font-style: italic;
    font-weight: 500;
}


.searchbar{
    display: flex;
    background-color: white;
    width: 384px;
    height: 42px;
    align-items: center;
    border-radius: 5px;
}

.searchbar > input{
    border: 0;
    height: 25px;
    width: 330px;
}

.searchbar > img{
    height: 24px;
    width: 24px;
    padding: 7px 12px;
}

.user-info{
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}


.preview{
    height: 549.59px;
    padding: 0px 179px;
    background-image: url("./src/Avatar 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.genre{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;   
    color: #0FEFFD;
    margin: 89px 0px 47px 0px;
    width: fit-content;
}

.movietitle{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0;
    width: 605px;
}

.descriptioncont{
    width: 605px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFF;
    margin: 20px 0px 28px 0px;
}

.watchnow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 261px;
    height: 55px;
    background: #2791C2;
    border-radius: 31px;
}

.watchnow > button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    background: #2791C2;
    border: none;
}

.recommended{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.recommended_bar{
    width: 1084px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardstitle{
    font-weight: 700;
    font-size: 24px;
    line-height: 64px;
    padding: 0px 30px;
}

.layoutbuttons{
    display: flex;
    margin: 0px 15px;
}

.layoutbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards.vertical {
    display: grid;
    grid-template-columns: 0.295fr 0.057fr 0.295fr 0.057fr 0.295fr;
    grid-template-rows: 440px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 1084px;
    height: 440px;
    margin: 50px;
}

.cards > h2{
    font-weight: 700;
    font-size: 24px;
}

.cards > p{
    font-weight: 400;
    font-size: 12px;
}

.card1, .card2 ,.card3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 30px; 
    border: solid;
}

.vertical.card1 { grid-area: 1 / 1 / 2 / 2; }
.vertical.card2 { grid-area: 1 / 3 / 2 / 4; }
.vertical.card3 { grid-area: 1 / 5 / 2 / 6; }

.cards.horizontal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.309fr 0.035fr 0.309fr 0.035fr 0.309fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 1420px;
    margin: 50px;
    width: 1220px;
}
    
.horizontal.card1 { grid-area: 3 / 1 / 4 / 2; }
.horizontal.card2 { grid-area: 1 / 1 / 2 / 2; }
.horizontal.card3 { grid-area: 5 / 1 / 6 / 2; }