nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #2791C2;
}

.preview{
    width: 100%;
    background: grey;
    height: 40vh;
    padding: 49px;
}